<div class="container m-5">
    <h1 class="text-center mb-4 bg-info p-4 text-white fw-bold border-5">ADD EMPLOYEE</h1>

   <div class="row">
    <div class="col-6 mt-5" >

      <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1"></span>
        <input type="text" class="form-control" placeholder="First Name" aria-label="Username" [(ngModel)]="employeeObj.firstName" aria-describedby="basic-addon1">
      </div>

      <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1"></span>
        <input type="text" class="form-control" placeholder="Last Name" aria-label="Username" [(ngModel)]="employeeObj.lastName"  aria-describedby="basic-addon1">
      </div>
      
      <div class="input-group mb-3">
        <input type="text" class="form-control bg-primary bg-opacity-25" placeholder="Email Address" aria-label="Recipient's username" [(ngModel)]="employeeObj.email" aria-describedby="basic-addon2" >
        <span class="input-group-text" id="basic-addon2">.com</span>
      </div>
        <div class="mt-5">
            <select class="form-select mb-3" aria-label="Default select example" [(ngModel)]="employeeObj.departmentId">
                <option value="">Select The Department</option>
                <option value="Human resources">Human resources</option>
                <option value="Finance">Finance</option>
                <option value="Marketing">Marketing</option>
                <option value="Sales">Sales</option>
                <option value="IT">IT</option>
                <option value="Customer sevice">Customer Service</option>
                <option value="Research & Development">Research & Development</option>
                <option value="Operations">Operations</option>
                <option value="Legal">Legal</option>
                <option value="Administration">Administration</option>
              </select>

              <select class="form-select" aria-label="Default select example" [(ngModel)]="employeeObj.roleId">
                <option value="">Select The Role</option>
                <option value="Manager">Manager</option>
                <option value="Asistant Manager">Asistant Manager</option>
                <option value="Senior Executive">Senior Executive</option>
                <option value="Executive">Executive</option>
                <option value="Team Leader">Team Leader</option>
                <option value="Coordinator">Coordinator</option>
                <option value="Analyst">Analyst</option>
                <option value="Specialist">Specialist</option>
                <option value="Consultant">Consultant</option>
                <option value="Intern">Intern</option>
              </select>
        </div>

         <div class="centered-container">
            <button class="btn btn-success mt-lg-5 " (click)="addEmployee()">add Employee</button>
        </div>
    </div>
   </div>
  
</div>
